aws_region   = "ap-south-1"
project_name = "hotstar-clone"
environment  = "demo"
vpc_cidr     = "10.0.0.0/16"

cluster_name       = "hotstar-eks"
kubernetes_version = "1.35"

node_instance_types = ["t3.small"]

node_min_size     = 2
node_desired_size = 2
node_max_size     = 4

ecr_repository_name = "hotstar-clone"
